.App {
  display: flex;
  justify-content: center;
  width: 100vw;
}

li {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
