body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Lato", sans-serif;
}

.section{
    height: 100vh;
    width: 100%;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#section-1{
    background-image: url(./assets/Image1.jpg);
    opacity:0.7 ;
}
#section-2{
    background-image: url(./assets/Image2.jpg);
}
#section-3{
    background-image: url(./assets/Image3.jpg);
}
#section-4{
    background-image: url(./assets/Image1.jpg);
}

h1{
    font-size:32px;
    font-weight:lighter;
    color: white;
    margin: 0;
    background-color: black;
    padding: 1rem;
    letter-spacing: 3px;
}

.text{
    background-color:#F4F4F4 ;
    position:sticky;
    top: 0;
    left: 0;
}