*{
    word-spacing: 3px;
    letter-spacing: 1px;
}
.container{
    width: 50rem;
    height: 50rem;
    /* display: flex; */
    justify-content: center;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.showInfo{
    text-align: center;
    font-size: 1.2rem;
}
.bigger{
    font-size: 2.2rem;
}

.image-db{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.icon{
    width: 3rem;
    height: 3rem;
}

.icons{
    display: flex;
    justify-content: space-around;
}

/* USER AREA */

.userArea{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.btn{
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #B76EA0;
    color: white;
    transition: all 0.5s;
}

.btn:hover{
    background: #FEC861;
    color: black;

}