
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: rgb(88, 86, 86);
  width: 100%;
  overflow: auto;
}
h1 {
  text-align: center;
  color: black !important;
}
h2 {
  color: black !important;
}

.container {
  border: 1px solid black;
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* container-left */

.container-left {
  margin-right: 2rem;
  flex-basis: 35%;
}

.form-box {
  padding: 0.5rem 0;
}
form input {
  outline: none;
  border: none;
}
form .form-area {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

form .form-area input {
  padding: 0.4rem;
}

#bottom-box {
  display: flex;
  /* justify-content: flex-start; */
}

.form-box .country-box {
  margin-right: 1rem;
}

.form-box .country-box-2 {
  border: 1px solid gray;
  border-radius:5px ;
  width: 100%;
  padding: 0.4rem;

}

.form-box .country-box select {
  border: none;
  outline: none;
}

.form-box .post-c {
  margin-left: 1rem;
}
.post-code-1{
    border: 1px solid gray;
    border-radius:5px ;
    width: 100%;
    padding: 0.4rem;
}

.btn{
    padding: 1rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    /* float: right; */
    /* justify-content: flex-end; */
    font-size: 1.1rem;
    /* margin-bottom: 1rem; */
}

/* container-right */
.container-right {
  flex-basis: 25%;
  background-color: rgb(226, 239, 247);
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 15px;
  align-self: flex-start;
}

.img-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.container-right img {
  width: 35%;
  border-radius: 10px;
}

.total {
  margin: 1rem;
}
.total table {
  width: 150%;
}



@media screen and (max-width:800px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }
    
}