*{
    box-sizing: border-box;
}
#gallery{
    width: 1200px;
    margin:20px auto ;
}

.gallery-item{

    border: 1px solid gainsboro;
}

.item-container{
    width: 25%;
    float: left;
    padding: 10px;
}

.gallery-item img{
    width: 100%;
    height: 200px;
    object-fit:cover;

}

.description{
    text-align:center ;
    padding: 15px;
    text-transform: capitalize;
}
.description:hover{
    box-shadow: 0 5px 5px gainsboro;
    cursor: pointer;
}