#container{
    display: grid;
    /* grid-template-columns: 10vh 10vh 50vh 30vh; */
    /* grid-template-columns: 1fr 1fr 5fr 2fr; */

    /* grid-template-columns: repeat(6,1fr); */
    /* grid-template-columns: repeat(2,1fr) 3fr 20vh; */
    grid-template-columns: repeat(4,25vh);
    grid-template-rows:10vh 20vh 30vh 30vh ;
}
.content{
    background-color: cornflowerblue;
    border: 1px solid black;   
}

.content1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: burlywood;

}
.content2{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: red;
}

.content3{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: coral;
}