*{
    margin: 0;
    padding: 0;
}

.flex-container{
    border: 5px solid green;
    display: flex;
    height: 400px;
    /* display: inline-flex; */

    /* flex-direction: ; */
    /* flex-direction: row; */
    flex-direction: row;
    /* flex-direction: row-reverse; */

    /* flex-wrap: ; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */

    /* flex-flow: ;  shortand propr.*/ 
    /* flex-flow: row nowrap; */
    /* flex-flow: column wrap ; */

    /* yatay eksen */
    /* justify-content: ; */
    /* justify-content: flex-start; default */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: space-between; */

    /* dikey eksende hareket */
    /* align-items: ; */
    /* align-items: stretch; default */
    /* align-items: flex-end;  */
    /* align-items: baseline; */
    /* align-items: center; --- perfect center */
    
    /* coklu satırlardaki problem */

    /* align-content: ; */
    /* align-content: stretch; default */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content:space-between; */
    /* align-content: space-around; */


    
}

.items{
    background-color: indianred;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 3px;
    text-align: center;
    width: 120px;
    
}

.item1{

    /* order: 5;  defaultu 0 ile 1 arasında*/
    /* flex-grow: 1; default u 0 */
    /* flex-shrink: ; */
    align-self: flex-end;
}

.item2{
    /* order: 3; */
    /* flex-grow: 2; */
    /* flex-shrink: 16; */
    /* flex-basis: 60%; */
    align-self: flex-start;
}
.item3{
    /* order: 10; */
    /* flex-grow:0.5; */
    /* flex-shrink: 5; */
    align-self: center;
}

.item4{
    /* order: 0; */
    align-self: baseline;    
}